@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --primary: #ff3700;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
    background-image: url(../image/fc-barcelona-spain-stadium-camp-nou-soccer-hd-wallpaper-a3ea13baa8354ccde882ee9361488291.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo{
    font-size: 40px;
    color: gold;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: -50px;
}

.nav{
    margin-left: 10%;
    display: flex;
}


.nav li{
    list-style: none;
    margin: 0 10px;
}
.nav li a{
    color: gold;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
.nav li:hover a{
    color: var(--primary);
}
.nav li a img{
    width: 100px;
    height: 100px;
    margin-top: -35%;
}

.search{
    position: relative;
    width: 300px;
    height: -35px;
}
.search input{
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: transparent;
    border: 1 solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}
.search input ::placeholder{
    color: aliceblue;
}
.search i{
    position: absolute;
    top: -27px;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: aliceblue;
    border-right: 1px solid white;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== CARD ===============*/
  .container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    margin-left: 14%;
  }
  .card_container{
    display: grid;
    row-gap: 3.5rem;
  }
  .card_article{
    position: relative;
    overflow: hidden;
  }
  .card_img{
    width: 328px;
    border-radius: 1.5rem;
  }
  .card_data{
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0.8px 24px hsla(0,0%,0%,.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  .card_description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  .card_title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  .card_button{
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  .card_button::hover{
    text-decoration: underline;
  }
  /* Naming animations in hover */
  .card_article:hover .card_data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  .card_article:hover{
    animation: remove-overflow 2s forwards;
  }
  .card_article:not(:hover){
    animation: show-overflow 2s forwards;
  }
  .card_article:not(:hover) .card_data{
    animation: remove-data 1s forwards;
  }
  /* Card animation */
  @keyframes show-data{
    50%{
      transform: translateY(-10rem);
    }
    100%{
      transform: translateY(-7rem);
    }
  }
  @keyframes remove-overflow{
    to{
      overflow: initial;
    }
  }
  @keyframes remove-data{
    0%{
      transform: translateY(-7rem);
    }
    50%{
      transform: translateY(-10rem);
    }
    100%{
      transform: translateY(.5rem);
    }
  }
  @keyframes show-overflow{
    0%{
      overflow: initial;
      pointer-events: none;
    }
    50%{
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px){
    .container{
      margin-inline: 1rem;
    }
    .card_data{
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px){
    .card_container{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px){
    .container{
      height: 100vh;
    }
    .card_container{
      grid-template-columns: repeat(3, 1fr);
    }
    .card_img{
      width: 348px;
    }
    .card_data{
      width: 316px;
      padding-inline: 2.5rem;
    }
  }